SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=students_life
DB_USER=students_life_user
DB_PASSWORD=students_life_password
DB_HOST=db
DB_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8081

REDIS_URL=redis://redis:6379/0

LANGUAGE_CODE=ru
TIME_ZONE=Europe/Moscow

STATIC_URL=/static/
MEDIA_URL=/media/

FIREBASE_CREDENTIALS_PATH=